.product-enquiry-form {
  margin-top: 24px;

  label {
    font-weight: 400;
  }

  label,
  input,
  textarea {
    color: #868585;
  }

  .button-1 {
    float: right;
    font-size: 12px;
    font-weight: 600;
  }
}
